.navbar-custom {
    background-color: #e6e6e6;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.main-footer {
    background-color: #e6e6e6;
    color: #f5992a;
    left:0;
    bottom:0;
    right:0;
    padding-top: 3em;
}

.image-slider-item {
    height: 80vh;
}

.image-slider{
    height: 80vh;
    z-index: 0;
}

.image-container {
    object-fit: cover;
}

.search-bar {
    position: absolute;
    z-index: 1;
    top: 200px;
    width:100%;
}

.color-white {
    color: white;
}

.flip-box {
    transform-style: preserve-3d;
    perspective: 10000px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flip-box-front, .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 180px;
    width: 300px;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    backface-visibility: hidden;

}

.flip-box-front {
    transform : rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
    transform : rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
    transform : rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    transform : rotateY(180deg);
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%)translateZ(60px) scale(.94);
    top:50%;
}

.img-card {
    background-color: lightgrey;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 5px;
    text-transform: uppercase;
}

.video-background {
    height: 100vh;
    width:100%;
    opacity: 0.7;
}

.player-wrapper {
    display: flex;
    height: 100%;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }


.react-player {
    position: relative;
  }

  .LoginBox  {
      width : 22rem;
      height : auto;
      border-radius: 8px;
      background-color: #e6e6e6;
      box-shadow: 0 0 6px 0 rgba($color: lightgrey, $alpha: 0.7);
  }

  .rental-card {
      padding: 10px;
  }

  .color-card {
    color: #f5992a;
  }

  .CreateRentalBox  {
    width : 35rem;
    height : auto;
    border-radius: 8px;
    background-color: #e6e6e6;
    box-shadow: 0 0 6px 0 rgba($color: lightgrey, $alpha: 0.7);
}