.navbar-custom {
    background-color: #e6e6e6;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.main-footer {
    background-color: #e6e6e6;
    color: #f5992a;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    padding-top: 3em;
}