.bwm-form {
    color: $main-text-grey-color;
    margin: 20px;
    background:white;
  
    h1 {
      font-weight: 700;
      margin-bottom: 30px;
      padding-left: 30px;
    }
  
    label {
      font-size: 12px;
    }
   .col-md-5{
     padding-top: 15px;
     position: relative;
     padding-left: 30px;
   }
  
    .form-text {
      font-size: 13px;
    }
  
    .catchphrase {
      text-align: center;
      font-size: 42px;
      padding-left: 30px;
      position: relative;
      color: #f1f1f1;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      margin-top: 50px;
      letter-spacing: 1px;
    }
  
    .btn-form {
      margin-top: 15px;
    }
  }
  
  .bwm-res-errors {
    margin: 10px 0;
  
    p {
      margin-bottom: 5px;
    }
  }
  